<h2><a href ="/events/">Events</a> <a href ="/sessions/<%=@user_id%>" data-method="delete">Logout</a></h2>

<h1> Users </h1>


<h2>Following</h2>
<table>
	<tr>
		<th> Name </th>
		<th> Action </th>
	</tr>
	<tr>	

	</tr>
</table>

<h2> Followers </h2>
<table>
	<tr>
		<th> Name </th>
		<th> Action </th>
	</tr>

	<tr>

	</tr>


