#wrapper{
	width: 1000px
}
#register_box{
	width: 400px;
	border: solid black;
	display: inline-block
}
#login_box{
	width: 400px;
	border: solid black;
	display: inline-block;
	vertical-align: top;
	height: 200px;
}